body {
    display: inline;
}

div  {
    /*display: inline-block;*/
    margin-top: 15px;
    /*width: 47%;*/
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

form {
    /*display: inline-block;*/
    margin-top: 15px;
    background: moccasin;
    /*width: 30%;*/
    /*float: left;*/
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.page-header {
    background-color: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.logo-header {
    margin-left: 5px;
}

.page-footer {
    position: absolute;
    float: bottom;
    background-color: darkgrey;
    color: #ffffff;
}

.iconOk {
    visibility: hidden;
}

.clientsDiv {
    /*display: inline-block;*/
    padding: 10px;
    /*width: 47%;*/
    /*float: right;*/
    background: cornflowerblue;
}

.refreshClientsListButton {
     /*float: right;*/
     /*margin: 10px;*/
 }

.calculateButton {
    /*margin: 10px;*/
}

.calculateDiv {
    /*float: left;*/
    /*margin: 10px;*/
    padding: 10px;
    background: greenyellow;
}