div  {
    margin-top: 15px;
    background: cornflowerblue;
    float: right;
    width: 49%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

form {
    margin-top: 15px;
    background: moccasin;
    width: 49%;
    float: left;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.page-header {
    background-color: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.logo-header {
    margin-left: 5px;
}

.page-footer {
    position: absolute;
    float: bottom;
    background-color: darkgrey;
    color: #ffffff;
}

.iconOk {
    visibility: hidden;
}